h1 {
	text-align:center;
}

table {
	border:1px solid darkblue;
	border-collapse:collapse;
	text-align:center;
	background-color:#C7E6FF;
}
th,td {
	border:1px solid darkblue;
}
body {
	/*background-color:#C7E6FF;*/
	background-image:url('https://png.pngtree.com/background/20210715/original/pngtree-clear-sea-water-texture-background-picture-image_1296265.jpg');
	background-size:cover;
}
a {
	color:#005DA8;
}
ul {
	list-style:url('spisok.png')
}
p {
	text-indent:30px;
	background-color:#C7E6FF;
}
li,font,caption {
	background-color:#C7E6FF;
}
